<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NYStay</title>
  </head>
  <body>
    <h1>Listing Details :</h1>
    <ul>
      <li><%=listing.title%></li>
      <li><%=listing.description%></li>
      <li>&#36;<%=listing.price.toLocaleString("en-US")%></li>
      <li><%=listing.location%></li>
      <li><%=listing.country%></li>
    </ul>
    <br />
    <a href="/listings/<%= listing._id  %>/edit">Edit this listing</a>
  </body>
</html>
